<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="dashboardStudent :: frag-head(~{::title})">

	<title>Simulacro</title>

</head>
<body>
	
	<div th:replace="dashboardStudent :: frag-sidebar">
      
    </div>
	
	<!--sidebar end-->

	<div class="content">
	
		<div class="container">
			<div class="row">
				<div class="card" style=" margin-top: 5rem;">
					<h1>Universidad y Carrera</h1>
				</div>
			</div>
			<div class="row" style="padding: 1rem;">
				<h2>Universidad</h2>
				
				  <div class="col-sm-6">
				    <div class="card">
					  <img src="/images/logoUNMSM.png" class="card-img-top" alt="..." style="max-width: 50%; height: auto;">
					  <div class="card-body">
					    <h5 class="card-title">Universidad Nacional Mayor de San Marcos</h5>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary">Elegir</a>
					  </div>
					</div>
				  </div>
				  
				  <div class="col-sm-6">
				  	<div class="card" >
					  <img src="/images/logo_uni_2016.png" class="card-img-top" alt="..." >
					  <div class="card-body">
					    <h5 class="card-title">Universidad Nacional de Ingenieria</h5>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary">Elegir</a>
					  </div>
					</div>
				  </div>				
				
				
			</div>
			
			<div class="row" style="padding: 1rem;">
				<h2>Carrera</h2>
				<div class="card">
				    <p class="card-text">Selecciona la carrera a la que quieres postular para darte un simulacro des acuerdo a la necesidad</p>
					<select class="form-select" aria-label="Default select example">
					  <option selected>Selecciona</option>
					  <option value="1">Carrera 1</option>
					  <option value="2">Carrera 2</option>
					  <option value="3">Carrera 3</option>
					</select>
				</div>				
			</div>
			
			<div class="row">
				<div class="card text-end" >
				  <div class="card-body">
				    <h5 class="card-title">Estamos listos!</h5>
				    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				    <a th:href="@{/simulacro}" class="btn btn-primary">Comenzar Simulacro!</a>
				  </div>
				</div>
			</div>
			
		</div>
	
	</div>
	
	<footer th:replace="dashboardStudent :: frag-footer">
		
	</footer>
</body>
</html>