<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="dashboardStudent :: frag-head(~{::title})">

<title>Hazte Premium</title>

</head>
<body>

	<div th:replace="dashboardStudent :: frag-sidebar"></div>
	<!--side bar end-->

	<div class="content">
		<div class="container">
			<div class="row">
				<div class="card" style="margin-top: 5rem;">
					<h1>Adquiere premium ahora</h1>
				</div>
			</div>

			<!-- -->

			<div class="row">
				<div class="card">
					<h5 class="card-header text-center">Planes disponibles</h5>
					<div class="card-body">

						<div class="row">
							<div class="card text-dark bg-light mb-3">
								<div class="card-body">
									<form th:action="@{/quizSave/saveComment}"
										th:object="${comment}" method="post">
										<div class="mb-3">
											<label for="id" class="form-label">Id</label> <input
												type="text"  class="form-control" th:field="*{id}">
										</div>
										<div class="mb-3">
											<label for="description" class="form-label">description</label>
											<input type="text" class="form-control"
												th:field="*{description}">
										</div>
										<div class="mb-3">
											<label for="simulacro" class="form-label">Quiz</label> <input
												th:field="*{quizSave.idQuizzSave}" type="text" readonly="readonly"
												class="form-control">
										</div>
										
										<div class="mb-3">
											<label for="simulacro" class="form-label">Student</label> <input
												th:field="*{student.id}" type="text" readonly="readonly"
												class="form-control">
										</div>
										<button type="submit" class="btn btn-success">Save</button>
									</form>
								</div>

							</div>

						</div>

					</div>
				</div>
			</div>


		</div>
	</div>
	<footer th:replace="dashboardStudent  :: frag-footer"></footer>
</body>
</html>
