<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th ="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="dashboardTeacher :: frag-head(~{::title})">

    <title>Retirar dinero</title>
    
  </head>
  <body>
    
    <div th:replace="dashboardTeacher :: frag-sidebar">
      
    </div>
    <!--side bar end-->

    <div class="content">
      <div class="container">
      	<div class="row">
			<div class="card" style=" margin-top: 5rem;">
				<h1>Retirar dinero</h1>
			</div>
		</div>
	
		
		<div class="row" >
			<div class="card">
			   <div class="col-sm-12">
				    <div class="card border-secondary mb-3" >
				      <div class="card-body">
				        <h4 class="card-title">Metodo de retiro</h4>
				        
				        <div class="mb-3">
						  <label for="emailInput1" class="form-label">Email</label>
						  <input type="email" class="form-control" id="emailInput1" placeholder="nombre@ejemplo.com">
						</div>
						
				        <div class="mb-3">
						  <label for="numeroTarjeta" class="form-label">Numero Tarjeta</label>
						  <input type="text" class="form-control" id="numeroTarjeta" placeholder="1234 1234 1234 1234">
						  <div class="input-group mb-3">
							  <input type="text" class="form-control" id="fechaVencimiento" placeholder="MM / YY">
							  <input type="text" class="form-control" id="cvc" placeholder="CVC">
						  </div>
						</div>				        
				        
				        <div class="mb-3">
						  <label for="nombreTarjeta" class="form-label">Nombre en tarjeta</label>
						  <input type="text" class="form-control" id="nombreTarjeta" placeholder="Nombre">
						</div>
						
						   <div class="mb-3">
						  <label for="nombreTarjeta" class="form-label">Monto</label>
						  <input type="text" class="form-control" id="nombreTarjeta" placeholder="Monto a retirar">
						</div>
						
				        
				        <div class="d-grid gap-2">
					        <a href="#" class="btn btn-primary" style="border-radius: 8px;">retirar </a>
				        </div>
				      </div>
				    </div>
				  </div>
			
			</div>
			

		</div>
		 
		
      </div>
    </div>
	<footer th:replace="dashboardTeacher :: frag-footer"></footer>
  </body>
</html>
