<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th ="http://www.thymeleaf.org">
  <head th:replace="dashboardTeacher :: frag-head(~{::title})">

    <title>Inicio iTest-on</title>
    
  </head>
  <body>
    
    <div th:replace="dashboardTeacher :: frag-sidebar">
      
    </div>
    <!--side bar end-->

    <div class="content">
      <div>
        <p class="bienvenida">Bienvenido a iTest-on, puedes comenzar a repasar tus simulacros en la barra lateral</p>
      </div>
      
      <h2>Prueba</h2>
    </div>
	<footer th:replace="dashboardTeacher :: frag-footer"></footer>
  </body>
</html>
