<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="dashboardTeacher :: frag-head(~{::title})">

<title>Comentarios de quiz</title>

</head>
<body>

	<div th:replace="dashboardTeacher :: frag-sidebar"></div>
	<!--side bar end-->

	<div class="content">
		<div class="container">
			<div class="row">
				<div class="card" style="margin-top: 5rem;">
					<h1>Mis Comentarios</h1>
				</div>
			</div>

			<!-- -->

			<div class="row">
				<div class="card">
					<h5 class="card-header">Commentarios</h5>
					<div class="card-body">
<!-- 					th:each ="" -->
						<table class="table" >
							<thead>
								<tr>
									<th scope="col">Codigo</th>
									<th scope="col">Fecha</th>
									<th scope="col">Descripcion</th>
									<th scope="col">estudiante</th>
									<th scope="col">idQquizSave</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="c: ${comments}">
								
									<td th:text="${c.id}"></td>
									<td th:text="${c.date}"></td>
									<td th:text="${c.description}" ></td>
									<td th:text="${c.student.id}" ></td>
									<td th:text="${c.quizSave.idQuizzSave}" ></td>
								</tr>
								
							</tbody>
						</table>
					</div>
					
				</div>
			</div>


		</div>
	</div>
	<footer th:replace="dashboardTeacher  :: frag-footer"></footer>
</body>
</html>
