<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th ="http://www.thymeleaf.org">
  <head th:replace="dashboardStudent :: frag-head(~{::title})">

    <title>Hazte Premium</title>
  
  <body>
    
    <div th:replace="dashboardStudent :: frag-sidebar">
      
    </div>
    <!--side bar end-->

    <div class="content">
      <div class="container">
      	<div class="row">
			<div class="card" style=" margin-top: 5rem;">
				<h1>Adquiere premium ahora</h1>
			</div>
		</div>
		
		<!-- -->
		
		<div class="row">
			<div class="card">
			  <h5 class="card-header text-center">Planes disponibles</h5>
			  <div class="card-body">
			  
			  <div class="row">
				  <div class="col-sm-6">
				    <div class="card border-secondary mb-3 text-center">
				    <img src="/images/freemiumImage.jpg" class="card-img-top" alt="...">
				      <div class="card-body">
				        <h4 class="card-title">Freemium</h4>
				        <p class="card-text">Obten una prueba gratuita de como funcionan los examenes de iTest-on para tu preparacion al ingresar a la universidad</p>
				        <a href="#" class="btn btn-primary">Continuar</a>
				      </div>
				    </div>
				  </div>
				  <div class="col-sm-6">
				    <div class="card border-dark mb-3 text-center">
				    <img src="/images/premiumImage.jpg" class="card-img-top" alt="...">
				      <div class="card-body">
				        <h4 class="card-title">Premium</h4>
				        <p class="card-text">Obten todo el contenido de los examenes de iTest-on para tu preparacion al ingresar a la universidad</p>
				        <ol class="list-group list-group-numbered">
						  <li class="list-group-item d-flex justify-content-between align-items-start">
						    <div class="ms-2 me-auto">
						      <div class="fw-bold">Simulacros ilimitados</div>
						    </div>
						    
						  </li>
						  <li class="list-group-item d-flex justify-content-between align-items-start">
						    <div class="ms-2 me-auto">
						      <div class="fw-bold">Notas especificas con estadisticas por curso</div>
						    </div>
						    
						  </li>
						  <li class="list-group-item d-flex justi		fy-content-between align-items-start">
						    <div class="ms-2 me-auto">
						      <div class="fw-bold">Otras features</div>
						    </div>
						    
						  </li>
						</ol>
				       	<a th:href="@{/pago}" class="btn btn-primary">Adquirir ahora</a>
						
				      </div>
				    </div>
				  </div>
				</div>
			  	
			  </div>
			</div>
		</div>
		 
		
      </div>
    </div>
	<footer th:replace="dashboardStudent  :: frag-footer"></footer>
  </body>
</html>
