<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th ="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="dashboardStudent :: frag-head(~{::title})">

    <title>Hazte Premium</title>
  
  <body>
    
    <div th:replace="dashboardStudent :: frag-sidebar">
      
    </div>
    <!--Encabezado de preimum-->

    <div class="content">
      <div class="container">
      	<div class="row">
			<div class="card" style=" margin-top: 5rem;">
				<h1>Adquiere premium ahora</h1>
			</div>
		</div>
	
	   <!--Descripciones-->
		<div class="row">
			<div class="card">
			  <h5 class="card-header text-center">Planes disponibles</h5>
			  <div class="card-body">
			  
			  <div class="row">
				  <div class="col-sm-6">
				    <div class="card border-secondary mb-3 text-center">
				    <img src="/images/freemiumImage.jpg" class="card-img-top" alt="...">
				      <div class="card-body">
				        <h4 class="card-title">Freemium</h4>
				        <p class="card-text">Obten una prueba gratuita de como funcionan los examenes de iTest-on para tu preparacion al ingresar a la universidad</p>
				        <a href="#" class="btn btn-primary">Continuar</a>
				      </div>
				    </div>
				  </div>
				  <div class="col-sm-6">
				    <div class="card border-dark mb-3 text-center">
				  
				  
				  
				    <img src="/images/premiumImage.jpg" class="card-img-top" alt="...">
				      <div class="card-body">
				        <h4 class="card-title">Premium</h4>
				        <p class="card-text">Obten todo el contenido de los examenes de iTest-on para tu preparacion al ingresar a la universidad</p>
				        <ol class="list-group list-group-numbered">
						  <li class="list-group-item d-flex justify-content-between align-items-start">
						    <div class="ms-2 me-auto">
						      <div class="fw-bold">Simulacros ilimitados</div>
						    </div>
						    
						  </li>
						  <li class="list-group-item d-flex justify-content-between align-items-start">
						    <div class="ms-2 me-auto">
						      <div class="fw-bold">Notas especificas con estadisticas por curso</div>
						    </div>
						    
						  </li>
						  <li class="list-group-item d-flex justi		fy-content-between align-items-start">
						    <div class="ms-2 me-auto">
						      <div class="fw-bold">Otras features</div>
						    </div>
						    
						  </li>
						</ol>
				       	<a th:href="@{subscriptions}" 
				       	class="btn btn-primary">Adquirir ahora</a>
						
						<div class="box-boton">
								<button type="button" class="btn btn-primary" data-toggle="modal"    
								data-target="obtener-premium" data-bs-toggle="button"
								style="background-color: blue;">Adquirir plan de promoción
								</button>
						</div>
						
						
						
						<!--Modal de premium-credit card-->
						<div class="modal fade obtener-premium" tabindex="-1" role="dialog"
						aria-labelledly="myLargeModallabel" aria-hidden="true"> 
						<div class ="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="emergence-contenido">
									<div class="seccion-superior">
										<h3>iTest-on
										</h3>
										</div>
										<div class="seccion-medio">
										<div class="descripcion-ventana">
											<h3 th:text="'Entra a operar en Startup Invest,'+${name}">
											</h3>
										</div>
									</div>
									
									
									<!--row-->
									<div class="row">
										<div class="col-xs-6 col-sm-6 col-lg-6 col-xl-3 mt-2"
										th:each="subscription:${subscriptions}">
											<div class="panel price panel-color">
											<div class="bg-white text-center">
												<svg x="0" y="0" viewBox=" 0 0 360 220">
													<g><path fill="blue" d="">
													
													</path>
								
												</svg>
												</div>
											</div>
										</div>
				    			  	</div>
				    			  	
				    			  
				    			  	
				    			  	
				    			  	
				   		</div>
				  </div>
				</div>
			  	
			  </div>
			</div>
		</div>
		 
		
      </div>
    </div>
	<footer th:replace="dashboardStudent  :: frag-footer"></footer>
  </body>
  
</html>
