<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="dashboardStudent :: frag-head(~{::title})">

<title>Quiz Save</title>
</head>
<body>
	<div th:replace="dashboardStudent :: frag-sidebar"></div>
	
	<div class="content">
	<div class="container">
      	<div class="row">
			<div class="card" style=" margin-top: 5rem;">
				<h1>Comenzar simulacro</h1>
			</div>
		</div>
		
		<!-- -->
		
		<div class="row">
				<form th:action="@{/quizSave/saveNew}" th:object="${quizSave}" method="post">
					<div class="form-group">
						<label for="idrace">ID:</label> <input type="text"
							class="form-control" th:field="*{idQuizzSave}" readonly></input> <label
							for="idrace">ID Quiz:</label> <input type="text"
							class="form-control" th:field="*{quizz.id}" readonly></input>
						
						<table class="table table-bordered table-hover table-striped"
							id="tab_logic">
							<thead>
								<tr>
									<th class="text-center">Pregunta</th>
									<th class="text-center">1</th>
									<th class="text-center">2</th>
									<th class="text-center">3</th>
									<th class="text-center">4</th>
									<th class="text-center">5</th>
									<th class="text-center">Respuesta</th>
<!-- 									<th class="text-center">Resultado</th> -->
							</thead>
							<tbody>
								<tr th:each="r, itemStat: *{results}">
									<td th:text="*{results[__${itemStat.index}__].exercise.statement}"></td>
									<td th:text="*{results[__${itemStat.index}__].exercise.correctAlternative}"></td>
									<td th:text="*{results[__${itemStat.index}__].exercise.wrongAlternative1}"></td>
									<td th:text="*{results[__${itemStat.index}__].exercise.wrongAlternative2}"></td>
									<td th:text="*{results[__${itemStat.index}__].exercise.wrongAlternative3}"></td>
									<td th:text="*{results[__${itemStat.index}__].exercise.wrongAlternative4}"></td>
<!-- 									<td><select class="form-select" aria-label="Default select example"> -->
<!--   										<option selected>Escoger</option> -->
<!--   										<option value="1">1</option> -->
<!--   										<option value="2">2</option> -->
<!--   										<option value="3">3</option> -->
<!--   										<option value="4">4</option> -->
<!--   										<option value="5">5</option> -->
<!-- 									</select></td> -->
									<td>
										<div class="col-xs-2">
    									<input class="form-control" id="ex1" type="text" th:field="*{results[__${itemStat.index}__].result}">
 			 							</div>
 			 						</td>
								</tr>
							</tbody>
			
						</table>
					</div>
			
					<button type="submit" class="btn btn-primary">Aceptar</button>
			
				</form>
		</div>
		 
		
      </div>

	</div>
<!-- 	<footer th:replace="frag-footer"> -->
<!-- 		<script src="https://www.googletagmanager.com/gtag/js?id=G-GNJJMF8KL8"></script> -->
<!-- 		<script> -->

<!-- 	    </script> -->
<!-- 		<script src="@{/js/bootstrap.bundle.min.js}"></script> -->
<!-- 	</footer> -->

</body>
</html>