<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="dashboardStudent :: frag-head(~{::title})">

	<title>Simulacro</title>

</head>
<body>
	
	<div th:replace="dashboardStudent :: frag-sidebar">
      
    </div>
	
	<!--sidebar end-->
	
	
	
	<div class="content">
	
	<div class="container">
		<div class="row">
			<div class="card" style=" margin-top: 5rem;">
				<h1>Simulacro</h1>
			</div>
		</div>
		<div class="row">
			
		  <div class="col-sm-8">
		    <div class="card" >
		      <div class="card-body">
		        <h5 class="card-title">BALOTARIO</h5>
		        <p class="card-text">Aca es donde estarán los balotarios, al menos así lo imagino, pero si tienen otra idea igual les escucho.
		        @Andrea acá debemos trabajar juntos -Renzo</p>
		        <a href="#" class="btn btn-primary">Es responsive :D</a>
		        
		        <div class="card border-dark mb-3" style="margin-top: 1.5rem;">
				  <div class="card-header">Tema</div>
				  <div class="card-body text-dark">
				    <h5 class="card-title">Pregunta 1</h5>
				    <p class="card-text">Creo que así está saliendo mejor :D</p>
				    
	    	        	<div>
				        <div class="form-check">
						  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
						  <label class="form-check-label" for="exampleRadios1">
						    Default radio
						  </label>
						</div>
						<div class="form-check">
						  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
						  <label class="form-check-label" for="exampleRadios2">
						    Second default radio
						  </label>
						</div>
						<div class="form-check">
						  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
						  <label class="form-check-label" for="exampleRadios3">
						    Disabled radio
						  </label>
						</div>
				        </div>
				    
				  </div>
				</div>
		        
	
		        
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-4">
		    <div class="card text-dark bg-light mb-3">
		      <div class="card-body">
		        <h5 class="card-title">Puntuación del balotario</h5>
		        <p class="card-text">¿Cómo puntuarias a este balotario en función a si es entendible, bien redactado, o bien planteado?</p>
		        <a href="#" class="btn btn-danger">1</a>
		        <a href="#" class="btn btn-warning">2</a>
		        <a href="#" class="btn btn-warning">3</a>
		        <a href="#" class="btn btn-success">4</a>
		        <a href="#" class="btn btn-success">5</a>
		        <p style= "margin-top: 1rem;"><a href="#" class="btn btn-primary">Confirmar</a></p>
		        
		        
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	
	</div>
	
	<footer th:replace="dashboardStudent :: frag-footer">
		
	</footer>
</body>
</html>