<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th ="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="dashboardStudent :: frag-head(~{::title})">

    <title>Tu Perfil</title>
    
  </head>
  <body>
    
    <div th:replace="dashboardStudent:: frag-sidebar">
      
    </div>
    <!--side bar end-->

    <div class="content">
      <div class="container">
      	<div class="row">
			<div class="card" style=" margin-top: 5rem;">
				<h1>Perfil</h1>
			</div>
		</div>
		
		<div class="card">
		  <div class="card-header text-center">
		    Nombre Apellido / Editar Perfil
		  </div>
		  
		  <div class="text-center col-md-6">
<!-- 		  <img src="/images/perfilEstudiante.jpg" alt="imagen de alumno" style="border-radius: 100%;" > -->
		  </div>
		  <div class="card-body">
		    <!--  -->
			<form class="row g-3">
				<div class="col-md-6">
			    <label for="nombreEditar" class="form-label">Nombre</label>
			    <input type="text" class="form-control" id="nombreEditar">
			  </div>
			  <div class="col-md-6">
			    <label for="apellidoEditar" class="form-label">Apellido</label>
			    <input type="text" class="form-control" id="apellidoEditar">
			  </div>
			  <div class="col-md-6">
			    <label for="emailEditar" class="form-label">Email</label>
			    <input type="email" class="form-control" id="emailEditar">
			  </div>
			  <div class="col-md-6">
			    <label for="pwdEditar" class="form-label">Password</label>
			    <input type="password" class="form-control" id="pwdEditar">
			  </div>
			  
			  <div class="col-12">
			    <button type="submit" class="btn btn-primary">Guardar cambios</button>
			  </div>
			</form>
		    
		  </div>
		  <div class="card-footer text-muted text-center">
		    Guardado
		  </div>
		</div>
		
		
      </div>
    </div>
	<footer th:replace="dashboardStudent :: frag-footer"></footer>
  </body>
</html>