<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th ="http://www.thymeleaf.org">
  <head th:replace="dashboardStudent :: frag-head(~{::title})">

      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />


    <title>Suscripcion realizada</title>
  </head>
  <body>
    
    <div th:replace="dashboardStudent :: frag-sidebar">
      
    </div>
    <!--side bar end-->

    <div class="content">
      <div class="container">
      	<div class="row">
			<div class="card" style=" margin-top: 5rem;">
				<h1>Suscripcion realizada</h1>
			</div>
		</div>
		
		<!-- -->
		
	
		

		<div class="row">
			<div class="card">
			  <h5 class="card-header text-center">Introduce la informacion de pago</h5>
			  <div class="card-body">
			  
			  <div class="row">
				  <div class="col-sm-6">
				    <div class="card border-secondary mb-3">
				    <img src="/images/premiumImage.jpg" class="card-img-top" alt="...">
				      <div class="card-body">
				      
				        <h4 class="card-title">Premium Activado</h4>
				        <p class="card-text">Obten todo el contenido de los examenes de iTest-on para tu preparacion al ingresar a la universidad</p>
				        <ol class="list-group list-group-numbered">
						  <li class="list-group-item d-flex justify-content-between align-items-start">
						    <div class="ms-2 me-auto">
						      <div class="fw-bold">Nombre: Judith </div>
						      
						     
						 
						    </div>
						  
						    
						  </li>
						  <li class="list-group-item d-flex justify-content-between align-items-start" >
						    <div class="ms-2 me-auto">
						    
						      <div class="fw-bold">Fecha de suscripci&oacute;n: 20/09/2021</div>
						    </div>
						    
						  </li>
						  <li class="list-group-item d-flex justify-content-between align-items-start">
						    <div class="ms-2 me-auto">
						      <div class="fw-bold">Precio plan: S/.12.99</div>
						    </div>
									    
										    
					
						  </li>
						</ol>
				      </div>
				    </div>
				  </div>
				  
			  </div>
			</div>
		</div>
		 
		
      </div>
    </div>
	<footer th:replace="dashboardStudent  :: frag-footer"></footer>
  </body>
</html>