<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th ="http://www.thymeleaf.org">
  <head th:replace="dashboardTeacher :: frag-head(~{::title})">

    <title>Saldo Actual</title>
    
  </head>
  <body>
    
    <div th:replace="dashboardTeacher :: frag-sidebar">
      
    </div>
    <!--side bar end-->

    <div class="content">
      <div class="container">
      	<div class="row">
			<div class="card" style=" margin-top: 5rem;">
				<h1>Saldo Actual</h1>
			</div>
		</div>
	
		
		<div class="row">
			<div class="card">
			  <h5 class="card-header">Balance</h5>
			  <div class="card-body">
			    
				<div class="card text-center">
				  <div class="card-header">
				    Octubre
				  </div>
				  <div class="card-body">
				    <p class="card-text">Tus ganancias de este mes son:</p>
				    <h5 class="card-title">S/. 100.00</h5>
				    
				  </div>
				  <div class="card-footer text-muted">
				    Ultimo pago hace 8 dias
				  </div>
				</div>
				
			  </div>
			</div>
		</div>
		 
		
      </div>
    </div>
	<footer th:replace="dashboardTeacher :: frag-footer"></footer>
  </body>
</html>
