<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="dashboardStudent :: frag-head(~{::title})">

<title>Tus notas</title>

</head>
<body>

	<div th:replace="dashboardStudent :: frag-sidebar"></div>
	<!--side bar end-->

	<div class="content">
		<div class="container">
			<div class="row">
				<div class="card" style="margin-top: 5rem;">
					<h1>Tus notas</h1>
				</div>
			</div>

			<!-- -->

			<div class="row">
				<div class="card">
					<h5 class="card-header">Resultado de simulacros pasados</h5>
					<div class="card-body">
<!-- 					th:each ="" -->
						<table class="table" >
							<thead>
								<tr>
									<th scope="col">Codigo</th>
									<th scope="col">Nota</th>
									<th scope="col">IdQuiz</th>
									<th scope="col">Fecha</th>
									<th scope="col">Comentario</th>
									<th scope="col">aprobaciones</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="qs: ${quizesSave}">
								
									<td th:text="${qs.idQuizzSave}"></td>
									<td th:text="${qs.result}"></td>
									<td th:text="${qs.quizz.id}" ></td>
									<td th:text="${qs.date}" ></td>
									<td ><a th:href="@{'/quizSave/newComment/'+ ${qs.idQuizzSave}}">+</a></td>
									<td ><a th:href="@{'/quizSave/newApproval/'+ ${qs.idQuizzSave}}">+</a></td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
			</div>


		</div>
	</div>
	<footer th:replace="dashboardStudent  :: frag-footer"></footer>
</body>
</html>
